{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "semi": "warn",
    "jsx-quotes": ["warn", "prefer-single"],
//    TODO не забыть включить!
    "no-unused-vars": "off"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}